body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.section-one,
.section.two {
  display: flex;
  justify-content: center;
}
