body {
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
}

header {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  background-color: #fbe4ff;
  color: #6600ff;
  width: 100vw;
}

form {
  display: grid;
}

label {
  font-family: "Jost", sans-serif;
  color: #6600ff;
  text-align: center;
}

.fname {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}

.lname {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.email {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}

.birthday {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

.comment {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}

input[type="submit"] {
  border-radius: 5px;
  background-color: #fbe4ff;
  color: #6600ff;
}

@media (max-width: 500px) {
  header {
    background-color: #f3ffe3;
  }
  section {
    width: auto;
    height: auto;
  }
  input[type="submit"] {
    background-color: #f3ffe3;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  section {
    width: auto;
    height: auto;
  }
}

@media (min-width: 1025px) {
  header {
    background-color: #dcd3ff;
  }
  section {
    width: 100vw;
    height: auto;
  }
  input[type="submit"] {
    background-color: #dcd3ff;
  }
}
